Node-RED/Import_Node-RED.txt
[{"id":"3dee4568.63460a","type":"tab","label":"ESPTone Imperial March"},{"id":"45e960a9.00dd","type":"mqtt in","z":"3dee4568.63460a","name":"","topic":"esp8266/tone","qos":"2","broker":"bf1a77dd.8f9fe8","x":490.5000305175781,"y":197.66666412353516,"wires":[["d6f40149.d2eb3","6b0a8eff.58f5b","c0f1df64.7437c","f9ae7c11.7485d"]]},{"id":"d6f40149.d2eb3","type":"debug","z":"3dee4568.63460a","name":"","active":true,"console":"false","complete":"payload","x":850.4999847412109,"y":162.6666135787964,"wires":[]},{"id":"6b0a8eff.58f5b","type":"ui_gauge","z":"3dee4568.63460a","name":"","group":"5683764d.2380f8","order":1,"width":0,"height":0,"gtype":"wave","title":"Gauge","label":"Hz","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"x":829.8333587646484,"y":207.66662979125977,"wires":[]},{"id":"c0f1df64.7437c","type":"ui_text","z":"3dee4568.63460a","group":"2cd261ee.5553ee","order":3,"width":0,"height":0,"name":"","label":"esp8266/tone","format":"{{msg.payload}}","layout":"row-spread","x":858.4999866485596,"y":295.49999809265137,"wires":[]},{"id":"f9ae7c11.7485d","type":"ui_chart","z":"3dee4568.63460a","name":"","group":"2cd261ee.5553ee","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"5000","removeOlder":1,"removeOlderUnit":"3600","x":831.8055686950684,"y":250.55554294586182,"wires":[[],[]]},{"id":"bf1a77dd.8f9fe8","type":"mqtt-broker","z":"","broker":"192.168.0.19","port":"1883","clientid":"TEST","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5683764d.2380f8","type":"ui_group","z":"","name":"Graph - MQTT","tab":"60c7d07a.31b12","order":2,"disp":true,"width":"6"},{"id":"2cd261ee.5553ee","type":"ui_group","z":"","name":"The march Imperial - ESP8266","tab":"60c7d07a.31b12","order":1,"disp":true,"width":"6"},{"id":"60c7d07a.31b12","type":"ui_tab","z":"","name":"Sensor","icon":"dashboard","order":3}]